<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>영화 목록</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body class="container">
<h1>영화 목록</h1>
<p>
    <a th:href="@{/movie/add}" class="btn">➕ 추가</a>
    <a th:href="@{/logout}" class="btn cancel">로그아웃</a>
</p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>제목</th>
        <th>개봉연도</th>
        <th>평점</th>
        <th>리뷰수</th>

        <th>액션</th>
    </tr>
    </thead>
    <tbody th:each="movie: ${movies}">
    <tr>
        <td th:text="${movie.id}"></td>
        <td>
            <a th:text="${movie.title}" th:href="@{'/movie/detail/' + ${movie.id}}"></a>
        </td>
        <td th:text="${movie.releasedYear}"></td>
        <td>
            <div class="star-ratings">
                <div class="star-ratings-fill" th:style="'width:' + (${movie.avgRating} / 5.0 * 100) + '%'" >
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
                <div class="star-ratings-base">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
            </div>
        </td>
        <td th:text="${movie.reviewCount}"></td>
        <td>
            <a th:href="@{'/movie/edit/' + ${movie.id}}" class="btn">수정</a>
            <form th:action="@{'/movie/delete/' + ${movie.id}}" method="post" style="display:inline;">
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>