<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${movieDetailDto.title}"></title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body class="container container-large">
<a th:href="@{/movie}" class="btn login">📋 영화 목록</a>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>개봉년도</th>
        <th>평점</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${movieDetailDto.title}"></td>
        <td th:text="${movieDetailDto.releasedYear}"></td>
        <td th:text="${movieDetailDto.avgRating}"></td>
    </tr>
    </tbody>
</table>

<p>
<form th:action="@{'/movie/' + ${movieDetailDto.id} + '/review/add'}" method="get" style="display:inline;">
    <input type="hidden" name="id" th:value="${movieDetailDto.id}" />
    <button type="submit" class="btn">
        ➕ 리뷰 추가
    </button>
</form>
<a th:if="${user == null}" th:href="@{/login}" class="btn login">로그인</a>
<a th:if="${user != null}" th:href="@{/logout}" class="btn cancel">로그아웃</a>
</p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>사용자</th>
        <th>리뷰</th>
        <th>평점</th>
        <th>작성날짜</th>
        <th>액션</th>
    </tr>
    </thead>
    <tbody th:each="review : ${reviewList}">
    <tr>
        <td th:text="${review.id}"></td>
        <td th:text="${review.userId}"></td>
        <td th:text="${review.comment}"></td>
        <td>
            <div class="star-ratings">
                <div class="star-ratings-fill" th:style="'width:' + (${review.rating} / 5.0 * 100) + '%'">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
                <div class="star-ratings-base">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
            </div>
        </td>
        <td th:text="${#temporals.format(review.reviewedAt, 'yyyy-MM-dd HH:mm')}"></td>
        <!-- 수정,삭제-->
        <td>
            <a th:if="${user != null and review.userId == user.id}" th:href="@{'/review/' + ${review.id}}" class="btn">수정</a>
            <form th:if="${user != null and review.userId == user.id}" th:action="@{'/review/' + ${review.id}}" method="post" style="display:inline;">
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>