<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>리뷰 작성</title>
</head>
<body>
<h1>리뷰 작성</h1>

<form th:action="@{'/movie/' + ${reviewDto.movieId} + '/review/add'}"
      method="post"
      th:object="${reviewDto}"
      class="form-container">

    <!-- 리뷰 ID (수정용이면, 아니면 비워도 됨) -->
    <input type="hidden" th:field="*{id}" />

    <!-- 영화 ID는 URL 경로 변수로 받지만 POST 시에도 넘기기 위해 히든으로 포함 -->
    <input type="hidden" th:field="*{movieId}" />

    <label>
        평점 (1~5):
        <input type="number" th:field="*{rating}" min="1" max="5" />
    </label>
    <div th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="error"></div>

    <label>
        리뷰 내용 (5~100자):
        <textarea th:field="*{comment}" rows="5" maxlength="100"></textarea>
    </label>
    <div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="error"></div>

    <button type="submit">리뷰 등록</button>
    <a th:href="@{'/movie/' + ${reviewDto.movieId}}">취소</a>
</form>


</body>
</html>